#main-news{
  height:30vw;
  width:40vw;
  background:#feb31d;
  position:absolute;
  top:15vw;
  left:48vw;
}
#main-news-text{
  font-family: Century Gothic, AppleGothic;
  color:white;
}
#headline{
  position:absolute;
  max-width:45vw;
  color:black;
  top:18vw;
  left:3vw;
  font-size:3vw;
}
