
#news-box{
  position:absolute;
  top:15vw;
  left:48vw;
}
#news-shadow{
  height:30vw;
  width:40vw;
  background:#feb31d;
}
#main-news-text{
  font-family: Century Gothic, AppleGothic;
  color:white;
  font-size:3vw;
}
#headline{
  position:absolute;
  max-width:45vw;
  color:black;
  top:18vw;
  left:3vw;
}
#headline-img{
  position:absolute; 
  top:5%; 
  left:1%;
}