

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a,
u {
	text-decoration: none;
}

a {
	position: absolute;
}

@font-face {
	font-family: 'Gothic';
	src: URL('../src/yugothil.ttf') format('truetype');
}

@font-face {
	font-family: 'Franklin';
	src: URL('../src/frahv.ttf') format('truetype');
}

#Orange-Waves {
	position: absolute;
	left: 0vw;
	top: 0vw;
	height: 350px;
	width: 850px;
}
#main-news{
  height:30vw;
  width:40vw;
  background:#feb31d;
  position:absolute;
  top:15vw;
  left:48vw;
}
#main-news-text{
  font-family: Century Gothic, AppleGothic;
  color:white;
}
body{
    background-color:#fefaef;
    margin-top:0px;
    margin-left:0px;
 }
#headline{
  position:absolute;
  max-width:45vw;
  color:black;
  top:18vw;
  left:3vw;
  font-size:3vw;
}
#wave-bg {
    width: 100%; /* fall back */
    height:50vw;
    width: 100vw;
    background-position:left top;
    background-image:url(images/header.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#hashtag {
	top: 5%;
	left: 5%;
	position: absolute;
	color: white;
	font-family: Century Gothic, AppleGothic;
	font-size: 40px;
}

#navbar {
  position:absolute;
	font-size: 18px;
	font-family: serif;
	color: #4449;
	top: 1vw;
}
