#Orange-Waves {
  position: absolute;
  left: 0vw;
  top: 0vw;
  height: 350px;
  width: 850px;
}


#landing-slogan {
  top: 40%;
  left: 5vw;
  font-size: 1.76vw;
  position: absolute;
  width: 100%;
  padding-bottom: 0;
}


button {
  width: 25vw;
  font-size: 3vw;
  top: 70%;
  left: 5%;
  position: absolute;
  background-color: orange;
  color: white;
  border: orange 1vw solid;
}

#read-more {
  width: 25vw;
  font-size: 3vw;
  top: 70%;
  left: 5%;
  position: absolute;
  background-color: orange;
  color: white;
  border: orange 1vw solid;
  border-radius: 5%;
}

#read-more:hover {
  background-color: #feb31d;
  border-color: #feb31d;

}

h1 {
  font-family: Gothic, sans-serif;
  color: #444444;
}

h2 {
  font-family: Gothic, sans-serif;
}

h4 {
  position: absolute;
  font-size: 13px;
  font-style: italic;
  font-family: serif;
  text-align: center;
  bottom: 0vw;
  color: #4449;
}

#Family-with-PPE {
  position: absolute;
  right: 0vw;
  bottom: 0vw;
  height: 350px;
}

.menu {
  position: absolute;
  padding: 30px 0px;
  width: 100%;
  font-size: 20px;

  text-align: right;

}

.menu a {
  text-decoration: none;
  position: relative;
  font-family: Century Gothic, AppleGothic;
  padding: 15px;
  color: black;
  transition-duration: .4s;

}

.menu a:hover {
  font-size: 25px;
  transition-duration: .4s;

}

/*
#hashtag {
  position: absolute;
  left: 20px;
  color: white;
  font-size: 40px;
  top: 0px;
  font-family: Century Gothic, AppleGothic;
}
*/

#Top-left {
  position: absolute;
  left: 0vw;
  top: 0vw;
  height: 400px;
}

#Right-mid {
  position: absolute;
  right: 0vw;
  top: 10vw;
  height: 525px;
}

#Bottom-left {
  position: absolute;
  left: 0vw;
  bottom: 0vw;
  height: 300px;
}
