

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a,
u {
	text-decoration: none;
}

a {
	position: absolute;
}
@font-face {
	font-family: 'Gothic';
	src: URL('../src/yugothil.ttf') format('truetype');
}

@font-face {
	font-family: 'Franklin';
	src: URL('../src/frahv.ttf') format('truetype');
}

#Orange-Waves {
	position: absolute;
	left: 0vw;
	top: 0vw;
	height: 350px;
	width: 850px;
}
body{
    background-color:#fefaef;
    margin-top:0px;
    margin-left:0px;
 }
#bg{
  width: 100%;
  height: 100%;
  position:absolute;
}
.menu{
    position: absolute;
    padding: 30px 0px;
    width:100%;
    font-size: 20px;
    text-align: right;

}
.menu a{
  text-decoration: none;
  position: relative;
  font-family: Century Gothic, AppleGothic;
  padding: 15px;
  color: black;
  transition-duration: .4s;

}
.menu a:hover{
  font-size: 25px;
  transition-duration: .4s;
}
#hashtag{
left: 20px;
position: absolute;
font-size: 40px;
top: 0px;
font-family: Century Gothic, AppleGothic;
color: white;
}

/*
#coming_soon{
  color: white;
  position: absolute;
  text-align: center;
  width: 50%;
  height: 40%;
  background-color:orange;
  border-radius: 10px;
  top: 300px;
  left:25%;
  font-weight: bold;
}
#coming_soon a{
  color: black;
  text-decoration: none;
  font-size: 25px;
}
*/