*{
    margin:0;
    padding:0;
    overflow:hidden;
}

@font-face {
  font-family: 'Gothic';
  src: URL('../src/yugothil.ttf') format('truetype');
}
@font-face {
  font-family: 'Franklin';
  src: URL('../src/frahv.ttf') format('truetype');
}

h1,h2 {
    left: 10vw;
    font-size: 3vw;
    position: absolute;
    width: 100%;
}
h1 {
    top: 40%;
    font-family: Tahoma, sans-serif;
    color: #444444;
    font-weight:bold;
}
h2{
    top:47%;
    font-family: Gothic, sans-serif;
}
h3{
    font-size: 15px;
    position: absolute;
    font-family: Gothic;
    top:1vw;
    width: 100%;
    color: #444444;
}

h4{
    position:absolute;
    font-size:13px;
    font-family:serif;
    bottom:0vw;
    right:0vw;
    color:#4449;
}

#Orange-Waves {
    position:absolute;
    left:0vw;
    top:0vw;
    height:350px;
    width:850px;
}

#Perched-Birds{
    position: absolute;
    right:0vw;
    top:10vw;
    height:525px;
}
#Family-with-PPE{
    position:absolute;
    left:0vw;
    bottom:0vw;
    height:300px;
}
