*{
    margin:0;
    padding:0;
    overflow:hidden;
}

@font-face {
  font-family: 'Gothic';
  src: URL('../src/yugothil.ttf') format('truetype');
}
@font-face {
  font-family: 'Franklin';
  src: URL('../src/frahv.ttf') format('truetype');
}

#landing-slogan {
    top: 40%;
    left: 5vw;
    font-size: 1.76vw;
    position: absolute;
    width: 100%;
}

h1 {
  font-family: Century Gothic, AppleGothic;
  color: #444444;
  font-weight:bold;
}

h2 {
  font-family: Gothic, sans-serif;
}
#site-navigation{
    text-align: right;
    font-size: 24px;
    position: absolute;
    font-family: Century Gothic, AppleGothic;
    top:1vw;
    width: 100%;
    color: #444444;
}

.nav-link {
  padding-left:1vw;
  padding-right:2vw;

}
.nav-link:hover {
  text-decoration: none;
}

h4{
    position:absolute;
    font-size:13px;
    font-style:italic;
    font-family:serif;
    text-align:center;
    bottom:0vw;
    color:#4449;
}

#Orange-Waves {
    position:absolute;
    left:0vw;
    top:0vw;
    height:350px;
    width:850px;
}

#Family-with-PPE{
    position:absolute;
    right:0vw;
    bottom:0vw;
    height:300px;
}
